<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ titulo }}</h1>
      <app-formulario (resultadoCalculado)="cambiarResultadao($event)"></app-formulario>
      <app-resultado [resultadoInput]="resultado"></app-resultado>
    </div>
  </div>
</div>
