<form>
    <div class="form-group">
      <p>Operando A</p>
      <input
        type="number"
        placeholder="Escribe operando A"
        class="form-control"
        [(ngModel)]="operandoA"
        name="operandoA"
      />
    </div>
    <div class="form-group">
      <p>Operando B</p>
      <input
        type="number"
        placeholder="Escribe operando B"
        class="form-control"
        [(ngModel)]="operandoB"
        name="operandoB"
      />
    </div>
    <button class="btn btn-primary" (click)="sumarOperandos()">
      Sumar
    </button>
  </form>
